streamlit
streamlit_mic_recorder

langchain
langchain-core
langchain-community
langchain-nvidia-ai-endpoints
langchain-openai
langgraph
langsmith

pydantic
pydantic-settings
python-dotenv

tavily-python
arxiv
GitPython

qdrant-client
sentence-transformers

faster-whisper
edge-tts

requests
httpx

pandas
numpy

pymupdf
torch
torchvision
